body {
    background-color: #242424;
    margin: 0;
}

.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
    height: 5%;
}

.logo-header{
    width: 100%;
    height: auto
}

logo {
    position: relative;
    left: 0
}
